@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
    
}


.first_section{
    display: flex;
    margin-left: 140px;
    margin-top: 96px;
    justify-content: space-between;
    
}
.only_text{
    height: auto;
    width: auto;
}

.title h1{
    font-weight: 700;
    font-size: 60px;
    color: hsl(300, 43%, 22%);
    letter-spacing: -3px;
    width: 450px;
    line-height: 50px;
}

.paragraph{
    color: hsl(300, 43%, 22%);
    font-size: 20px;
    margin-top: 25px;
    font-weight: 400;
    width: 500px;
    line-height: 25px;
}

.starscontainer{
    margin-right: 230px;
    margin-top: 30px;
}

.starts{
    display: flex;
    align-items: center;
    border-radius: 5px;
    background-color: hsl(300, 24%, 96%);
    width: 380px;
    height: 50px;
    padding-left: 25px;
    
}

.text{
    color: hsl(300, 43%, 22%);
    padding-left: 30px;
}

.fivestars{
    letter-spacing: 4px;
}

.star2{
    margin-left: 30px;
}

.star3{
    margin-left: 60px;
}
.second_section{
    margin-left: 140px;
    margin-top: 65px;
}

.cardcontainer{
    display: flex;
}

.cards{
    justify-content: space-between;
    width: 360px;
    height: 230px;
    border-radius: 10px;
    background-color: hsl(300, 43%, 22%) ;
    color: white;
    padding: 30px;
}

.cards p {
    font-size: 17px;
    line-height: 20px;
    width: 300px;
}

.photo_name{
    display: flex;
    margin-bottom: 30px;
}

.person_image{
    height: 50px;
    border-radius: 30px;
}

.card2{
    margin-left: 30px;
}

.card3{
    margin-left: 30px;
}